aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiohttp-retry==2.8.3
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.10.0
asgiref==3.9.1
attrs==25.3.0
blinker==1.9.0
certifi==2025.8.3
charset-normalizer==3.4.3
databases[postgresql]
click==8.2.1
dnspython==2.7.0
elevenlabs==2.14.0
email-validator==2.3.0
fastapi==0.116.1
Flask==3.1.0
Flask-Dance==7.1.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
frozenlist==1.7.0
greenlet==3.2.4
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
multidict==6.6.4
numpy==2.2.0
oauthlib==3.2.2
packaging==25.0
pgvector==0.3.6
propcache==0.3.2
psycopg2-binary==2.9.10
pydantic_core==2.27.2
pydub==0.25.1
PyJWT==2.10.1
python-dotenv==1.0.1
pytz==2025.2
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
sniffio==1.3.1
SQLAlchemy==2.0.43
starlette==0.47.3
twilio==9.3.8
typing-inspection==0.4.1
typing_extensions==4.15.0
urllib3==2.5.0
URLObject==3.0.0
uvicorn==0.35.0
websockets==15.0.1
Werkzeug==3.1.0
yarl==1.20.1
openai
pydub
websockets
websocket-client
websocket-client
websocket-client
openai==1.58.1
websocket-client==0.59.0
openai>=1.52.0
python-socketio
websockets
flask-sock
email_validator
flask
flask-sqlalchemy
gunicorn
notion-client
psycopg2-binary
fastapi>=0.115.0
pydantic
pyjwt
